*, *::before, *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
  }
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  input, button, textarea, select {
    font: inherit;
  }
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  #root, #__next {
    isolation: isolate;
}

/* Defining color variable */
:root{
    --primaryBlack : #2D2D2B;
    --secondaryPink : #C39E9E;
    --secondaryBeige : #F0E4D8;
}

/*Styles for the header section*/

body{
  background-color: var(--primaryBlack);
}

.headerNav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1.2rem;
}

.logo{
    font-family: 'Fjalla One', sans-serif;
    margin-left: 2rem;
    font-size: 25px;
    color: var(--secondaryBeige);
}

nav{
    display: flex;
    margin-left: auto;
    margin-right: 2rem;
}

nav p{
    margin-right: 2.2rem;
    font-family: "Cantarell", sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: var(--secondaryBeige);
}

.name{
    font-family: 'Fjalla One', sans-serif;
    font-size: 200px;
    font-weight: 100;
    color: var(--secondaryBeige);
}

.job{
    font-family: 'Cantarell', sans-serif;
    font-size: 50px;
    letter-spacing: 0.15em;
    color: var(--secondaryBeige);
}

.rectangle {
  position: absolute;
  width: 622px;
  height: 9px;
  left: 0px;
  top: 100%;
  background: var(--secondaryBeige);
}

.nameContainer{
  position: relative;
  display: flex;
  flex-direction: column;
  margin-left: 6rem;
  margin-top: 15rem;
}

/* CSS for the svg vectors */
body {
  position: relative;
}

body::before {
  content: "";
  position: absolute;
  top: -25%;
  left: 0;
  width: 100%;
  height: 1011.97px;
  z-index: -1;
  background-image: url('background.svg');
  background-size: cover;
  background-position: center;
}

.headerNav, .nameContainer {
  position: relative;
  z-index: 1;
}
