/* CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/* Defining color variable */
:root {
  --primaryBlack: #2d2d2b;
  --secondaryPink: #c39e9e;
  --secondaryBeige: #f0e4d8;
}

/*Styles for the header section*/

body {
  background-color: var(--primaryBlack);
}

.name {
  margin-top: 8rem;
  font-family: "Fjalla One", sans-serif;
  font-size: 200px;
  font-weight: 100;
  color: var(--secondaryBeige);
}

.job {
  font-family: "Cantarell", sans-serif;
  font-size: 50px;
  letter-spacing: 0.15em;
  color: var(--secondaryBeige);
}

.rectangle {
  position: absolute;
  width: 622px;
  height: 9px;
  left: 0px;
  top: 100%;
  background: var(--secondaryBeige);
}

.nameContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-left: 6rem;
  margin-top: 12rem;
  margin-bottom: 20rem;
}

/* CSS for the svg vectors */

body {
  position: relative;
  overflow-x: hidden;
}

/* body::before {
  content: "";
  position: absolute;
  top: -5%;
  left: 15%;
  width: 1263.11px;
  height: 1011.97px;
  z-index: -1;
  background-image: url('background.svg');
  background-size: cover;
  background-position: center;
  animation: rotate 13s linear infinite;
} */

.nameContainer {
  position: relative;
  z-index: 1;
}

/* Animations for rotating svg */

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes rotateBack {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(-360deg);
  }
}

.background1 {
  position: absolute;
  height: 0;
  top: -4%;
  right: -10%;
  z-index: -100;
  transform-origin: 509px 411.5px;
  animation: rotateBack 120s linear infinite;
}

.background2 {
  position: absolute;
  height: 0;
  top: -5%;
  right: -10%;
  z-index: -100;
  transform-origin: 532.5px 453.5px;
  animation: rotate 90s linear infinite;
}

.background3 {
  position: absolute;
  height: 0;
  top: -9%;
  right: -2%;
  z-index: -100;
  transform-origin: 655px 331px;
  animation: rotate 150s linear infinite;
}

/* Projects Section */

.projectTitle {
  font-family: "Fjalla One", sans-serif;
  font-size: 100px;
  font-weight: 100;
  color: var(--secondaryBeige);
  margin-left: 6rem;
}

.rectangle2 {
  width: 1272px;
  height: 9px;
  left: 116px;
  top: 361px;
  background: #f0e4d8;
  margin-left: 6rem;
}

.projectName {
  font-family: "Fjalla One", sans-serif;
  font-size: 50px;
  font-weight: 100;
  color: var(--secondaryPink);
}

.projectText {
  font-family: "Cantarell", sans-serif;
  font-size: 35px;
  color: var(--secondaryBeige);
}

.projectBtn {
  background-color: var(--secondaryPink);
  border-radius: 15px;
  border: none;
  font-family: "Fjalla One", sans-serif;
  font-size: 30px;
  color: var(--primaryBlack);
  width: 150px;
  height: 50px;
}

.pink1 {
  box-sizing: border-box;
  width: 743px;
  height: 505px;
  left: 633px;
  top: 549px;
  background: #c39e9e;
  border: 1px solid #000000;
}

.pic4 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 743px;
  height: 505px;
  left: 668px;
  top: 591px;
  background: #f0e4d8;
  font-family: "Fjalla One", sans-serif;
  font-size: 150px;
  color: var(--primaryBlack);
  text-align: center;
}

.pic2 {
  width: 743px;
  height: 505px;
  left: 668px;
  top: 591px;
  background-image: url(images/todoList.png);
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
}

.pic3 {
  width: 743px;
  height: 505px;
  left: 668px;
  top: 591px;
  background-image: url(images/DataScience.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.pic1 {
  width: 743px;
  height: 505px;
  left: 668px;
  top: 591px;
  background-image: url(images/weatherApp.png);
  background-size: cover;
  /* background-position: center; */
  background-repeat: no-repeat;
}

/* positioning of project section */

.projContainer1 {
  display: flex;
  flex-direction: column;
}

.pic1 {
  top: 5%;
  left: 2%;
  position: absolute;
  z-index: 1;
}

.pic2 {
  top: 5%;
  left: 2%;
  position: absolute;
  z-index: 1;
}

.pic3 {
  top: 5%;
  left: 2%;
  position: absolute;
  z-index: 1;
}

.pic4 {
  top: 5%;
  left: 2%;
  position: absolute;
  z-index: 1;
}

/* Grid Display for Project Section */
.projectGrid {
  display: grid;
  grid-template-columns: 40vw 800px;
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas:
    "proj1 pic1"
    "proj2 pic2"
    "proj3 pic3"
    "proj4 pic4";
}

.projContainer1 {
  grid-area: proj1;
  padding: 1.5rem;
  margin-top: 0.8rem;
  margin-left: 4rem;
}

.projContainer1 h2 {
  margin-bottom: 3rem;
}

.projContainer1 p {
  margin-bottom: 3rem;
  line-height: 1.8;
}

.picContainer1 {
  position: relative;
  grid-area: pic1;
  margin-top: 1.1rem;
  padding: 4rem;
}

.projContainer2 {
  grid-area: proj2;
  padding: 1.5rem;
  margin-top: 0.8rem;
  margin-left: 4rem;
}

.projContainer2 h2 {
  margin-bottom: 3rem;
}

.projContainer2 p {
  margin-bottom: 3rem;
  line-height: 1.8;
}

.picContainer2 {
  position: relative;
  grid-area: pic2;
  padding: 4rem;
  margin-top: 1.2rem;
}

.projContainer3 {
  grid-area: proj3;
  padding: 1.5rem;
  margin-top: 0.8rem;
  margin-left: 4rem;
}

.projContainer3 h2 {
  margin-bottom: 3rem;
}

.projContainer3 p {
  margin-bottom: 3rem;
  line-height: 1.8;
}

.picContainer3 {
  position: relative;
  grid-area: pic3;
  padding: 4rem;
  margin-top: 1.2rem;
}

.projContainer4 {
  grid-area: proj4;
  padding: 1.5rem;
  margin-top: 0.8rem;
  margin-left: 4rem;
}

.projContainer4 h2 {
  margin-bottom: 3rem;
}

.projContainer4 p {
  margin-bottom: 3rem;
  line-height: 1.8;
}

.picContainer4 {
  position: relative;
  grid-area: pic4;
  padding: 4rem;
  margin-top: 1.2rem;
}

.projectBtn {
  margin-right: 3rem;
}

/* About section */

.pink2 {
  box-sizing: border-box;
  width: 671px;
  height: 725px;
  left: 695px;
  top: 500px;
  background: #c39e9e;
}

.pic5 {
  width: 648px;
  height: 720px;
  left: 740px;
  top: 542px;
  background-image: url(images/About.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.rectangle3 {
  width: 1272px;
  height: 9px;
  left: 116px;
  top: 361px;
  background: #f0e4d8;
  margin-left: 6rem;
}

.aboutTitle {
  font-family: "Fjalla One", sans-serif;
  font-size: 100px;
  font-weight: 100;
  color: var(--secondaryBeige);
  margin-left: 6rem;
}

.aboutText {
  font-family: "Cantarell", sans-serif;
  font-size: 35px;
  color: var(--secondaryBeige);
  margin-top: 7.2rem;
  line-height: 1.9;
  margin-right: 5.5rem;
}

.aboutText a {
  color: var(--secondaryBeige);
}

.picContainer5 {
  position: relative;
  padding: 4rem;
  margin-top: 1.2rem;
  margin-left: 2rem;
}

.pic5 {
  top: 13%;
  left: 14%;
  position: absolute;
  z-index: 1;
}

.aboutinfo {
  display: flex;
  flex-direction: row-reverse;
}

.aboutContainer {
  margin-bottom: 5rem;
}

/* Contact Section */

.rectangle4 {
  width: 1272px;
  height: 9px;
  left: 116px;
  top: 1511px;
  background: #f0e4d8;
  margin-left: 6rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.cta {
  font-family: "Cantarell", sans-serif;
  font-size: 100px;
  color: var(--secondaryBeige);
  font-weight: 100;
  margin-left: 6rem;
  margin-right: 5rem;
  margin-bottom: 3rem;
}

.email {
  font-family: "Fjalla One", sans-serif;
  font-size: 100px;
  font-weight: 100;
  color: var(--secondaryPink);
}

.finalName {
  margin-left: 6rem;
}

.finalName p {
  font-family: "Cantarell", sans-serif;
  font-size: 35px;
  color: var(--secondaryBeige);
}

.socials {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-right: 6rem;
}

footer {
  display: flex;
  margin-bottom: 4rem;
}

/* Animations */

/* Button animations */
.projectBtn {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.projectBtn span {
  position: relative;
  z-index: 1;
  display: block;
}

.projectBtn::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background-color: var(--secondaryBeige);
  transition: width 0.5s cubic-bezier(0.5, 1.6, 0.4, 0.7), border-radius 0.5s;
  border-radius: 0;
}

.projectBtn:hover::before {
  width: 100%;
  border-radius: 15px;
}

/* JS Splitting Animations */
.char {
  display: inline-block;
}

/* Header Animation Styling */
.headerNav {
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 1000;
  width: 100%;
  margin-top: -12rem;
  height: 4rem;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 0.3s ease;
}

.headerNav.scrolled {
  background-color: rgba(0, 0, 0, 0.7);
}

.headerNav a {
  opacity: 100%;
}

.logo a {
  font-family: "Fjalla One", sans-serif;
  margin-left: 2rem;
  font-size: 25px;
  color: var(--secondaryBeige);
  text-decoration: none;
}

nav {
  display: flex;
  margin-left: auto;
  margin-right: 2rem;
}

nav a {
  position: relative;
  padding: 0 10px;
  margin-right: 2.2rem;
  font-family: "Cantarell", sans-serif;
  font-size: 25px;
  font-weight: bold;
  color: var(--secondaryBeige);
  text-decoration: none;
}

nav a.active {
  color: var(--secondaryPink);
}

* {
  scroll-behavior: smooth;
}

nav a::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 0;
  background-color: var(--secondaryBeige);
  left: 0;
  bottom: -8px;
  transition: 0.3s;
}

nav a:hover::after {
  width: 100%;
}

/* Contact Link Animations */
.socials a {
  position: relative;
  padding: 0 10px;
  font-family: "Cantarell", sans-serif;
  font-size: 35px;
  color: var(--secondaryBeige);
  text-decoration: none;
}

.socials a::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 0;
  background-color: var(--secondaryBeige);
  left: 0;
  bottom: -3px;
  transition: 0.3s;
}

.socials a:hover::after {
  width: 100%;
}

/* Responsiveness */

/* Laptop */
@media (max-width: 1024px) {
  .name {
    font-size: 180px;
  }

  .job {
    font-size: 45px;
  }

  .rectangle {
    width: 600px;
  }

  .logo a,
  nav a {
    font-size: 20px;
  }

  nav a {
    margin-right: 1rem;
  }

  .rectangle2 {
    width: 1125px;
  }

  .projectName {
    font-size: 35px;
  }

  .projectText {
    font-size: 25px;
  }

  .projectBtn {
    font-size: 20px;
    color: var(--primaryBlack);
    width: 100px;
    height: 50px;
  }

  .btnContainer {
    display: flex;
  }

  .aboutText {
    font-size: 25px;
    margin-top: 7.2rem;
    line-height: 1.9;
    margin-right: -4.5rem;
  }

  .rectangle3 {
    width: 1125px;
  }

  .pink2 {
    width: 471px;
    height: 525px;
    left: 695px;
    top: 500px;
  }

  .pic5 {
    width: 448px;
    height: 520px;
    left: 100px;
    top: 100px;
  }

  .rectangle4 {
    width: 1125px;
  }

  .cta {
    font-size: 75px;
    margin-right: 1rem;
    margin-bottom: 3rem;
  }

  .email {
    font-size: 75px;
  }

  .finalName p {
    font-size: 25px;
  }

  .socials a {
    padding: 0 3px;
    font-size: 25px;
  }

  .socials a:hover::after {
    width: 100%;
  }
}

/* Tablet */
@media (max-width: 768px) {
  .background1,
  .background2,
  .background3 {
    right: -90%;
  }

  .name {
    font-size: 130px;
  }

  .job {
    font-size: 40px;
  }

  .rectangle {
    width: 525px;
  }

  .logo a,
  nav a {
    font-size: 30px;
  }

  nav a {
    margin-right: 1.3rem;
  }

  .rectangle2 {
    width: 1225px;
  }

  .projectGrid {
    grid-template-columns: 70vw 30vw;
  }

  .projectName {
    font-size: 45px;
  }

  .projectText {
    font-size: 25px;
  }

  .projectBtn {
    font-size: 30px;
    color: var(--primaryBlack);
    width: 150px;
    height: 60px;
  }

  .btnContainer {
    display: flex;
  }

  .aboutText {
    font-size: 30px;
    margin-top: 6.2rem;
    line-height: 1.9;
    margin-right: -24.5rem;
  }

  .rectangle3 {
    width: 1225px;
  }

  .pink2 {
    width: 571px;
    height: 625px;
    left: 695px;
    top: 500px;
  }

  .pic5 {
    width: 548px;
    height: 620px;
    left: 100px;
    top: 100px;
  }

  .rectangle4 {
    width: 1225px;
  }

  .contactContainer {
    margin-right: -8rem;
  }

  .cta {
    font-size: 70px;
    margin-right: -25rem;
    margin-bottom: 3rem;
  }

  .email {
    font-size: 75px;
  }

  .finalName p {
    font-size: 35px;
  }

  .socials {
    margin-right: -35rem;
  }

  .socials a {
    padding: 0 3px;
    font-size: 35px;
  }

  .socials a:hover::after {
    width: 100%;
  }
}

/* Mobile L */
@media (max-width: 425px) {
  /* .background1,
  .background2,
  .background3 {
    left: 60%;
    right: -60%;
  } */

  .nameContainer {
    margin-right: -25rem;
  }

  .name {
    font-size: 150px;
    width: 120vw;
  }

  .job {
    font-size: 25px;
  }

  .rectangle {
    width: 325px;
  }

  .logo a,
  nav a {
    font-size: 30px;
  }

  nav a {
    margin-right: 1.3rem;
  }

  .rectangle2 {
    width: 1225px;
  }

  .projectGrid {
    grid-template-columns: 1fr;
  }

  .projectName {
    font-size: 45px;
  }

  .projectText {
    font-size: 25px;
  }

  .projectBtn {
    font-size: 30px;
    color: var(--primaryBlack);
    width: 150px;
    height: 60px;
  }

  .btnContainer {
    display: flex;
  }

  .aboutText {
    font-size: 45px;
    margin-top: 2.2rem;
    line-height: 1.9;
    margin-right: -43.5rem;
    margin-left: 17rem;
  }

  .picContainer5 {
    margin-left: 15rem;
    margin-bottom: 5rem;
  }

  .aboutinfo {
    flex-direction: column-reverse;
  }

  .projectsContainer {
    margin-bottom: 10rem;
  }

  .rectangle3 {
    width: 1225px;
    margin-bottom: 14rem;
  }

  .pink2 {
    width: 771px;
    height: 825px;
    left: 695px;
    top: 500px;
  }

  .pic5 {
    width: 748px;
    height: 820px;
    left: 100px;
    top: 100px;
  }

  .rectangle4 {
    width: 1225px;
    margin-top: 5rem;
    margin-bottom: 16rem;
  }

  .contactContainer {
    margin-right: -8rem;
  }

  .cta {
    font-size: 70px;
    line-height: 2;
    margin-right: -50rem;
    margin-bottom: 10rem;
  }

  .email {
    font-size: 75px;
  }

  .finalName p {
    font-size: 35px;
  }

  .socials {
    margin-right: -56rem;
    margin-bottom: 5rem;
  }

  .socials a {
    padding: 0 3px;
    font-size: 35px;
  }

  .socials a:hover::after {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .background1,
  .background2,
  .background3 {
    right: -90%;
  }

  .name {
    font-size: 130px;
  }

  .job {
    font-size: 40px;
  }

  .rectangle {
    width: 525px;
  }

  .logo a,
  nav a {
    font-size: 30px;
  }

  nav a {
    margin-right: 1.3rem;
  }

  .rectangle2 {
    width: 1225px;
  }

  .projectGrid {
    grid-template-columns: 70vw 30vw;
  }

  .projectName {
    font-size: 45px;
  }

  .projectText {
    font-size: 25px;
  }

  .projectBtn {
    font-size: 30px;
    color: var(--primaryBlack);
    width: 150px;
    height: 60px;
  }

  .btnContainer {
    display: flex;
  }

  .aboutText {
    font-size: 30px;
    margin-top: 6.2rem;
    line-height: 1.9;
    margin-right: -24.5rem;
  }

  .rectangle3 {
    width: 1225px;
  }

  .pink2 {
    width: 571px;
    height: 625px;
    left: 695px;
    top: 500px;
  }

  .pic5 {
    width: 548px;
    height: 620px;
    left: 100px;
    top: 100px;
  }

  .rectangle4 {
    width: 1225px;
  }

  .contactContainer {
    margin-right: -8rem;
  }

  .cta {
    font-size: 70px;
    margin-right: -25rem;
    margin-bottom: 3rem;
  }

  .email {
    font-size: 75px;
  }

  .finalName p {
    font-size: 35px;
  }

  .socials {
    margin-right: -35rem;
  }

  .socials a {
    padding: 0 3px;
    font-size: 35px;
  }

  .socials a:hover::after {
    width: 100%;
  }
}

/* Large Desktop Screen */
@media (min-width: 2560px) {
  .background1,
  .background2,
  .background3 {
    display: none;
  }

  .nameContainer {
    margin-right: -25rem;
  }

  .name {
    font-size: 400px;
    width: 120vw;
  }

  .job {
    font-size: 100px;
  }

  .rectangle {
    width: 1225px;
  }

  .logo a,
  nav a {
    font-size: 50px;
  }

  nav a {
    margin-right: 1.3rem;
  }

  .rectangle2 {
    width: 2525px;
  }

  .projectGrid {
    grid-template-columns: 70vw 30vw;
  }

  .projectName {
    font-size: 105px;
  }

  .projectText {
    font-size: 75px;
  }

  .projectBtn {
    font-size: 50px;
    color: var(--primaryBlack);
    width: 270px;
    height: 100px;
  }

  .btnContainer {
    display: flex;
  }

  .pic1,
  .pic2,
  .pic3,
  .pic4,
  .pink1 {
    width: 1143px;
    height: 805px;
  }

  .aboutText {
    font-size: 45px;
    margin-top: 3.2rem;
    line-height: 2.9;
    margin-right: -2.5rem;
    margin-left: 10rem;
  }

  .picContainer5 {
    margin-left: 15rem;
    margin-bottom: 5rem;
  }

  .projectsContainer {
    margin-bottom: 10rem;
  }

  .rectangle3 {
    width: 2525px;
    margin-bottom: 14rem;
  }

  .pink2 {
    width: 1071px;
    height: 1425px;
    left: 695px;
    top: 500px;
  }

  .pic5 {
    width: 1048px;
    height: 1420px;
    left: 100px;
    top: 100px;
  }

  .rectangle4 {
    width: 2525px;
    margin-top: 5rem;
    margin-bottom: 16rem;
  }

  .contactContainer {
    margin-right: -8rem;
  }

  .cta {
    font-size: 70px;
    line-height: 2;
    margin-right: -50rem;
    margin-bottom: 10rem;
  }

  .email {
    font-size: 75px;
  }

  .finalName p {
    font-size: 35px;
  }

  .socials {
    margin-right: -56rem;
    margin-bottom: 5rem;
  }

  .socials a {
    padding: 0 3px;
    font-size: 35px;
  }

  .socials a:hover::after {
    width: 100%;
  }
}
